/* RESET & GLOBAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--single-line-body-base-font-family);
    font-size: var(--single-line-body-base-font-size);
    background: var(--fifthcolor);
    color: #333;
}

.content {
    min-height: 100dvh;
    width: 100dvw;
    background: var(--fifthcolor);
    overflow-x: hidden;
}

.btn {
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--thirdcolor);
    border-color: var(--thirdcolor);
    color: white;
}

.btn-primary:hover {
    background-color: var(--secondcolor);
    border-color: var(--secondcolor);
}



