@page "/"

@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<PageTitle>Furry-Pets | Adop-Veterinaria</PageTitle>

<!--Div card que es  un boton que manda a la pagina de adopciones-->
<div class="home-container">

    <AuthorizeView Policy="CanEditPets">
        <Authorized>
            Editar Mascota Activo

        </Authorized>
        <NotAuthorized>
            No tienes permiso para editar mascotas.
        </NotAuthorized>
    </AuthorizeView>

    <div class="card text-center home-card" @onclick="gotoAdopciones">
        <div class="card-body">
            <i class="fas fa-dog fa-2x mb-2 icon-style"></i>
            <h5 class="card-title">Adopta una mascota</h5>
            <p class="card-text">Descubre nuestras adorables mascotas en adopción.</p>
            <button class="btn btn-primary">Ver Adopciones</button>
        </div>
    </div>

    <!--Div card que es un boton que manda a la pagina de veterinaria-->

    <div class="card text-center home-card" @onclick="gotoVeterinaria">
        <div class="card-body">
            <i class="fas fa-stethoscope fa-2x mb-2 icon-style"></i>
            <h5 class="card-title">Veterinaria</h5>
            <p class="card-text">Consulta a nuestros veterinarios expertos.</p>
            <button class="btn btn-primary">Ver Veterinaria</button>
        </div>
    </div>
</div>

@code {
    void gotoVeterinaria()
    {
        NavigationManager.NavigateTo("/pos");
    }

    void gotoAdopciones()
    {
        NavigationManager.NavigateTo("/catalogo");
    }
}