@page "/"
@using PawfectMatch.Components.Pages
@using PawfectMatch.Constants

@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<PageTitle>Furry-Pets | Adop-Veterinaria</PageTitle>

<div class="home-container">
    <div class="card text-center home-card" @onclick="gotoAdopciones">
        <div class="card-body">
            <i class="fas fa-dog fa-2x mb-2 icon-style"></i>
            <h5 class="card-title">Adopta una mascota</h5>
            <p class="card-text">Descubre nuestras adorables mascotas en adopción.</p>
            <button class="btn btn-primary">Ver Adopciones</button>
        </div>
    </div>

    <div class="card text-center home-card" @onclick="gotoVeterinaria">
        <div class="card-body">
            <i class="fas fa-stethoscope fa-2x mb-2 icon-style"></i>
            <h5 class="card-title">POS</h5>
            <p class="card-text">Venta de Productos de Calidad</p>
            <button class="btn btn-primary">Ver POS</button>
        </div>
    </div>


    <div class="card text-center home-card" @onclick="gotoUserManagement">
        <div class="card-body">
            <i class="fas fa-stethoscope fa-2x mb-2 icon-style"></i>
            <h5 class="card-title">UserManagement</h5>
            <p class="card-text">Consultar Usuarios, Roles y Permisos</p>
            <button class="btn btn-primary">Ver Usuarios</button>
        </div>
    </div>
</div>

@code {
    void gotoVeterinaria()
    {
        NavigationManager.NavigateTo("/pos");
    }

    void gotoAdopciones()
    {
        NavigationManager.NavigateTo("/catalogo");
    }

    void gotoUserManagement()
    {
        NavigationManager.NavigateTo("/user-management");
    }
}